@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
     --bgColor : #474E68
}

input::placeholder {
     color: rgba(0, 0, 0, 0.371);
     padding-left: 15px;
}


body{
     background-color: var(--bgColor);
}

